// main.scss
@use 'sass:selector';
@use 'common/header';
@use 'common/footer';

html, body {
    background-color: $bgColor;
    font-family: P22 Mackinac Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 16px;
    overflow-x: hidden;
}
.flex-container {
    @include flexCenter();
}
.position-relative {
    position: relative;
}
.position-absolute  {
    position: absolute;
}
section {
    width: 100%;
    min-height: 100vh;
    padding: 0 140px;
    h1 {
        line-height: 1;
        font-size: 72px;
        text-align: center;
    }
    h3 {
        margin-bottom: 30px;
        line-height: 1.04167;
        font-size: 48px;
    }
    p {
        margin-bottom: 30px;
        font-size: 18px;
        line-height: 1.55556;
    }
    a {
        display: block;
        width: 100px;
        background-color: #007aff;
        span {
            display: block;
            width: 100%;
            height: 100%;
            padding: 10px;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            line-height: .8125;
        }
    }
}

.content_phrase {
    width: 43.902vw;
    p {
        max-width: 520px;
    }
}
.content_card-group {
    width: 56.098vw;
    min-height: 640px;
    .card-wrap {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 473.81px;
        height: 640px;
        margin-left: 30px;
    }
    .img-wrap {
        width: 100%;
        height: 100%;
        transform: scale(0.85);
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}