// main.scss
@use 'sass:selector';
@use 'common/header';
@use 'common/footer';

html, body {
    min-width: 1700px;
    overflow-x: auto;
    font-size: 16px;
    font-family: Mallory,Georgia,serif;
    background-color: $bgColor;
}

// section 공통
section {
    position: relative;
    width: 100%;
    padding: 30px;
    overflow-x: hidden;
    .inner {
        position: relative;
        width: 100%;
        min-height: 100vh;
    }
    h1 {
        padding-bottom: 150px;
        font: {
            size: 50px;
            weight: bold;
        }
        text-align: center;
    }
    strong {
        display: block;
        margin-bottom: 30px;
        font-size: 48px;
        line-height: 1.04167;
    }
    p {
        font-size: 18px;
        line-height: 1.55556;
    }
}
$height: 544px;
#{selector.nest('#section2', 'article')} {
    @include flexCenter();
    min-height: $height;
}

#{selector.nest('#section2', '.text-box')} {
    width: 60%;
    padding-right: 150px;
    transition: opacity 0.2s ease-in-out;
}
#{selector.nest('#section2', '.card')} {
    position: relative;
    width: 40%;
    .img-box {
        position: relative;
        min-height: $height;
        img {
            @include posAbs($top:0, $right: 15%);
            width: 402px;
            height: $height;
            transition: all 0.3s ease-in-out;
        }
    }
}
.btn-explore {
    @include posAbs($top: 35%, $right: 450px);
    width: 0;
    height: 0;
    background-color: #fff;
    border: 1px solid #000;
    @include radius(50%);
    z-index: 1;
    transform: scale(1) rotate(45deg);
    transition: all 0.5s ease-in-out;
    span {
        font-size: 18px;
        color: transparent;
        transition: all 0.4s linear;
        transition-delay: 0.25s;
    }
    &:hover {
        transform: scale(1.1) rotate(45deg);
    }
}

// scroll 이벤트
#{selector.append('#section2', '.is-scroll')} {
    .img-box {
        img {
            transition: all 0.5s ease-in-out;
        }
    }
    .btn-explore{
        $size: 150px;
        width: $size;
        height: $size;
        span {
            color: #000;
        }
    }

    &.is-active {
        .img-box {
            img {
                transform: rotate(0deg);
            }
        }
    }
}
// #Explore 버튼 클릭 시,
#{selector.append('#section2', '.is-active')} {
    .text-box {
        opacity: 0;
    }
    .card {
        @include posAbs($top: 250px, $right: 0);
        width: 100%;
    }
    .img-box {
        img {
            $size: 402;
            max-width: 100%;
            height: 100%;
            @for $number from 1 through 3 {
                &.card#{$number} {
                    right: ($size * $number) + (13 * $number) + px;
                }
            }
            &.first {
                right: -417px;
            }
            &.second {
                right: 0;
            }
            transform: rotate(0deg);
        }
    }
    // 2. 버튼 위치 변경
    .btn-explore {
        $size: 150px;
        top: 20%;
        right: 1600px;
        width: $size;
        height: $size;
        span {
            color: #000;
        }
    }
}
