* {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video, button, input, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: 400;
}

main {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

ul, ol, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea {
  vertical-align: middle;
  outline: 0;
}

button {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ir {
  position: absolute;
  font-size: 0;
  height: 0;
  text-indent: -9999%;
}

.editor b, .editor h1, .editor h2, .editor h3, .editor h4, .editor h5 {
  font-weight: bold;
}

::placeholder {
  color: #aaa;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus,
select:focus,
textarea:focus {
  background: #eee !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

html, body {
  background-color: #ebebeb;
  font-family: Mallory, Georgia, serif;
  font-size: 16px;
  overflow-x: hidden;
}

section {
  padding: 30px;
}
section h1 {
  padding-bottom: 150px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.section2 .inner {
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.section2 .inner > div {
  width: 50%;
}

.card-text {
  height: auto;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.card-text strong {
  display: block;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 1.04167em;
}
.card-text p {
  font-size: 18px;
  line-height: 1.55556em;
}

.card-swiper .swiper-wrapper {
  position: relative;
  width: 402px;
  height: 544px;
  margin: 0 auto;
}

.card-swiper .swiper-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-desc {
  display: flex;
  margin-top: 10px;
  font-size: 18px;
  transform: translateY(30px);
  opacity: 0;
}
.card-desc span {
  width: 10%;
}
.card-desc p {
  width: 90%;
}
.card-desc p strong {
  display: block;
  margin-bottom: 10px;
  font-weight: bolder;
}

.btn-explore {
  position: absolute;
  top: 50px;
  left: -60px;
  width: 0;
  height: 0;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  z-index: 1;
  transition: all 0.5s linear;
}
.btn-explore span {
  color: transparent;
  transition: all 0.4s linear;
  transition-delay: 0.25s;
}

#section2.scroll .card1 {
  transform: rotate(5deg);
  transition: transform 1s ease-in-out;
}
#section2.scroll .card2 {
  transform: rotate(10deg);
  transition: transform 1s ease-in-out;
}
#section2.scroll .card3 {
  transform: rotate(15deg);
  transition: transform 1s ease-in-out;
}
#section2.scroll .card4 {
  transform: rotate(20deg);
  transition: transform 1s ease-in-out;
}
#section2.scroll .card5 {
  transform: rotate(25deg);
  transition: transform 1s ease-in-out;
}
#section2.scroll .btn-explore {
  width: 155px;
  height: 155px;
}
#section2.scroll .btn-explore span {
  color: #111;
}

#section2.card-open .inner {
  display: block;
}
#section2.card-open .inner > div {
  width: 100%;
}
#section2.card-open .card-text {
  opacity: 0;
  height: 0;
}
#section2.card-open .swiper-container {
  padding-left: 150px;
}
#section2.card-open .card-swiper .swiper-wrapper {
  display: flex;
  width: 100%;
  height: auto;
}
#section2.card-open .card-swiper .swiper-slide {
  position: static;
  flex-shrink: 0;
  width: 25%;
}
#section2.card-open .card-swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 640px;
  object-fit: cover;
}
#section2.card-open .card-desc {
  transform: translateY(0);
}

#section2.card-open.scroll .card-swiper .swiper-slide {
  transform: rotate(0);
}
