@charset "UTF-8";
* {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video, button, input, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: 400;
}

main {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

ul, ol, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea {
  vertical-align: middle;
  outline: 0;
}

button {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ir {
  position: absolute;
  font-size: 0;
  height: 0;
  text-indent: -9999%;
}

.editor b, .editor h1, .editor h2, .editor h3, .editor h4, .editor h5 {
  font-weight: bold;
}

::placeholder {
  color: #aaa;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus,
select:focus,
textarea:focus {
  background: #eee !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

/* 공통 */
html, body {
  background-color: #ebebeb;
  font-family: Mallory, Georgia, serif;
  font-size: 16px;
  overflow-x: hidden;
}

section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 30px;
}
section h1 {
  padding-bottom: 150px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.flex-container {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.flex-container > div {
  position: relative;
  width: 50%;
}

.card-group .inner {
  position: relative;
}
.card-group .inner img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-group .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-group .card img {
  transition: all 0.3s ease-in-out;
}

.btn {
  position: absolute;
  top: 50px;
  left: -60px;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  z-index: 1;
  transform: rotate(15deg);
}

/* scrollCard */
.scrollCard {
  position: relative;
  width: 100%;
  margin-left: 150px;
}
.scrollCard .inner {
  width: 380px;
  height: 560px;
  margin: 0 auto;
}

.btn-explore {
  transform: scale(0.04) rotate(15deg);
}

/* swiperCard */
aside {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 150px;
}

.swiperCard {
  width: 100%;
  height: 100%;
}
.swiperCard .swiper-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.swiperCard .swiper-slide {
  flex-shrink: 0;
  width: 25%;
}
.swiperCard .swiper-slide img {
  display: block;
  width: 100%;
  height: 560px;
  object-fit: cover;
}

/* scroll motion 이벤트 */
.card-group.is-scroll .btn-explore {
  transform: scale(1);
}

/* open motion 이벤트 */
.cardWrap.is-open {
  position: relative;
}
.cardWrap.is-open .scrollCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-left: 150px;
}
.cardWrap.is-open .scrollCard .card-group .inner {
  width: 400px;
  height: 544px;
}
.cardWrap.is-open .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 380px;
}
.cardWrap.is-open .card img {
  height: 560px;
  transform: rotate(0);
}
