* {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd,
q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav,
section, summary, time, mark, audio, video, button, input, select {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: 400;
}

main {
  display: block;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, menu, nav, section {
  display: block;
}

ul, ol, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select, textarea {
  vertical-align: middle;
  outline: 0;
}

button {
  cursor: pointer;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.ir {
  position: absolute;
  font-size: 0;
  height: 0;
  text-indent: -9999%;
}

.editor b, .editor h1, .editor h2, .editor h3, .editor h4, .editor h5 {
  font-weight: bold;
}

::placeholder {
  color: #aaa;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus,
select:focus,
textarea:focus {
  background: #eee !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  box-shadow: 0 0 0 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

html, body {
  min-width: 1700px;
  overflow-x: auto;
  font-size: 16px;
  font-family: Mallory, Georgia, serif;
  background-color: #ebebeb;
}

section {
  position: relative;
  width: 100%;
  padding: 30px;
}
section .inner {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
section h1 {
  padding-bottom: 150px;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
section strong {
  display: block;
  margin-bottom: 30px;
  font-size: 48px;
  line-height: 1.04167;
}
section p {
  font-size: 18px;
  line-height: 1.55556;
}

#section2 article {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  min-height: 544px;
}

#section2 .text-box {
  width: 60%;
  padding-right: 150px;
  transition: opacity 0.2s ease-in-out;
}

#section2 .card {
  position: relative;
  width: 40%;
}
#section2 .card .img-box {
  position: relative;
  min-height: 544px;
}
#section2 .card .img-box img {
  position: absolute;
  top: 0;
  right: 15%;
  width: 402px;
  height: 544px;
  transition: all 0.3s ease-in-out;
}

.btn-explore {
  position: absolute;
  top: 35%;
  right: 450px;
  width: 0;
  height: 0;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
  z-index: 1;
  transform: scale(1) rotate(45deg);
  transition: all 0.5s ease-in-out;
}
.btn-explore span {
  font-size: 18px;
  color: transparent;
  transition: all 0.4s linear;
  transition-delay: 0.25s;
}
.btn-explore:hover {
  transform: scale(1.1) rotate(45deg);
}

#section2.is-scroll .img-box img {
  transition: all 0.5s ease-in-out;
}
#section2.is-scroll .btn-explore {
  width: 150px;
  height: 150px;
}
#section2.is-scroll .btn-explore span {
  color: #000;
}
#section2.is-scroll.is-active .img-box img {
  transform: rotate(0deg);
}

#section2.is-active .text-box {
  opacity: 0;
}
#section2.is-active .card {
  position: absolute;
  top: 250px;
  right: 0;
  width: 100%;
}
#section2.is-active .img-box img {
  max-width: 100%;
  height: 100%;
  transform: rotate(0deg);
}
#section2.is-active .img-box img.card1 {
  right: 415px;
}
#section2.is-active .img-box img.card2 {
  right: 830px;
}
#section2.is-active .img-box img.card3 {
  right: 1245px;
}
#section2.is-active .img-box img.card4 {
  right: 1660px;
}
#section2.is-active .img-box img.first {
  right: 0;
}
#section2.is-active .btn-explore {
  top: 20%;
  right: 1600px;
  width: 150px;
  height: 150px;
}
#section2.is-active .btn-explore span {
  color: #000;
}
