// main.scss
@use 'common/header';
@use 'common/footer';

/*스크롤바 안 보이게 하기*/
//body::-webkit-scrollbar {
//    display: none;
//}
//body {
//    -ms-overflow-style: none;
//    scrollbar-width: none;
//}

body {
    width: 100%;
    height: 100vh;
    background-color: darkolivegreen;
}
#content {
    width: 100%;
    height: 100%;
}
#Sequence {
    width: 100%;
    height: 100%;
}
